﻿@using UniqueProducts.ViewModels.Clients
@using UniqueProducts.ViewModels
@using UniqueProducts.Models
@model PaginationViewModel<Client, ClientFilterViewModel, ClientSortViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Клиенты</h1>

<form method="get" class="mt-1">
    <label class="form-inline">Компания: </label>
    <input class="form-control" name="company" value="@(Model.FilterViewModel.SelectedCompany)" />
    <label class="form-inline mt-1">Телефон: </label>
    <input class="form-control" name="phone" value="@(Model.FilterViewModel.SelectedPhone)" />
    <input type="submit" value="Фильтр" class="mt-2 btn btn-primary" />
</form>

@if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin") || User.IsInRole("Admin")))
{
    <p>
        <a asp-action="Create">Добавить клиента</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-phone="@Model.FilterViewModel.SelectedPhone"
                   asp-route-page="@Model.PageViewModel.PageNumber"
                   asp-route-sortOrder="@Model.SortViewModel.CompanySort"
                   asp-route-company="@Model.FilterViewModel.SelectedCompany">
                    Компания
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-phone="@Model.FilterViewModel.SelectedPhone"
                   asp-route-page="@Model.PageViewModel.PageNumber"
                   asp-route-sortOrder="@Model.SortViewModel.RepresentativeSort"
                   asp-route-company="@Model.FilterViewModel.SelectedCompany">
                    Представитель
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-phone="@(Model.FilterViewModel.SelectedPhone)"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.PhoneSort)"
                   asp-route-company="@(Model.FilterViewModel.SelectedPhone)">
                    Телефон
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-phone="@(Model.FilterViewModel.SelectedPhone)"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.CompanyAddressSort)"
                   asp-route-company="@(Model.FilterViewModel.SelectedPhone)">
                    Адрес
                </a>
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Representative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyAddress)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>

                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                    {
                        <span><a asp-action="Edit" asp-route-id="@item.ClientId">Изменить</a> |</span>
                        <span><a asp-action="Delete" asp-route-id="@item.ClientId">Удалить</a> |</span>
                        <a asp-action="Details" asp-route-id="@item.ClientId">Подробно</a>
                    }
                    else if (User.IsInRole("User"))
                    {
                        <a asp-action="Details" asp-route-id="@item.ClientId">Подробно</a>
                    }
                </td>
            }
        </tr>
}
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-company="@(Model.FilterViewModel.SelectedCompany)"
           page-url-phone="@(Model.FilterViewModel.SelectedPhone)"
           page-url-sortOrder="@(Model.SortViewModel.Current)"></page-link>
