@model UniqueProducts.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeMidname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeMidname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeePosition)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
